.heroSection {
  background-color: #FFF;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.heroImage {
  flex: 1;
}

.heroImage img {
  width: 90%;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
  object-position: top;
}

.heroContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mainTitle {
  font-family: "Montserrat Italic", sans-serif;
  font-size: 15px;
  color: #000;
  margin-bottom: 1rem;
  font-weight: 400;
  text-align: center;
}

.tabsHeader {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tabButton {
  background: none;
  border: none;
  text-align: left;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.arrowCircle {
  background-color: var(--dark-cream);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  font-size: 0.7rem;
  line-height: 2;
  font-weight: 600;
}

.tabTitle {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.activeTab .tabTitle {
  font-weight: 700;
}

.contentSection {
  padding: 40px 5%;
}

.tabItemContent {
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
}

.tabContent {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentWrapper {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  padding: 1rem;
}

.imageContainer {
  flex: 1;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 346px;
  max-height: 346px;
}

.tabImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.textContainer {
  flex: 1.5;
}

.contentHeading {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.contentDescription {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  white-space: pre-line;
}

@media (max-width: 768px) {
  .contentWrapper {
    flex-direction: column;
  }
  
  .imageContainer {
    max-width: 100%;
  }
}

.pathAdditionalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.pathAdditionalContent img {
  border-radius: 8px;
  width: calc(100vw - 2rem);
  height: auto;
}

.businessAdditionalContent {
  background-color: var(--cream);
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  margin: 1rem 0;
}

.medicalAdditionalPicture {
  width: 100%;
  height: 100%;
}

.medicalAdditionalPicture img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 346px;
}

.medicalAdditionalContent {
  background-color: var(--cream);
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  margin: 0 -16px;
}

.writterAdditionalContent {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  margin: 1rem 0;
}

.credentialsContainer {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.credentialsText {
  flex: 1.5;
}

.credentialsText p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.credentialsText strong {
  font-weight: 600;
}

.credentialsImage {
  flex: 1;
  max-width: 350px;
}

.credentialsImage img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .credentialsContainer {
    flex-direction: column;
  }
  
  .credentialsImage {
    max-width: 100%;
    margin-top: 1rem;
  }
}

.careerSteps {
  padding: 16px 16px 16px 60px;
  border-radius: 8px;
  position: relative;
  width: calc(100vw - 2rem);
}

.stepText {
  background-color: #FFF4E7;
  padding: 16px 32px;
  border-radius: 0;
  position: relative;
  width: 100%;
}

.careerStep:first-child .stepText {
  border-radius: 8px 8px 0 0;
}

.careerStep:last-child .stepText {
  border-radius: 0 0 8px 8px;
}

.careerStep {
  display: flex;
  align-items: flex-start;
  position: relative;
  margin-bottom: 10px;
}

.diamondIcon {
  position: absolute;
  left: 16px;
  top: 16px;
  transform: none;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  z-index: 1;
  transform: scale(0.9);
}

@media (max-width: 768px) {
  .careerSteps {
    padding: 16px 16px 16px 32px;
    margin: 1rem auto;
  }
  
  .diamondIcon {
    left: -35px;
    top: 0%;
    width: 70px;
    height: 70px;
    transform: scale(0.6);
  }
}

.chaptersContainer {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.chapter {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
}

.chapterNumber {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  min-width: 40px;
}

.chapterContent {
  flex: 1;
}

.chapterContent h4 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 0 0.5rem 0;
  color: #000;
}

.chapterContent p {
  margin: 0;
  line-height: 1.5;
  color: #333;
}

.bookConclusion {
  margin: 2rem 0;
  text-align: center;
}

.quote {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 500;
  margin: 1rem 0;
  padding: 0;
  border: none;
  text-align: center;
  max-width: 80%;
  margin: 1rem auto;
}

.bookHighlight {
  display: flex;
  margin: 3rem 0;
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
}

.bookImageContainer {
  flex: 1;
  max-width: 40%;
}

.bookImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bookMessage {
  flex: 1.5;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bookMessage h3 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.bookQuote {
  font-style: italic;
  color: #666;
  margin-bottom: 1.5rem;
  line-height: 1.6;
  font-size: 1.1rem;
}


.thankYou {
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

.sliderContainer {
  width: calc(100vw - 2rem);
  max-width: 800px;
  margin: 0 auto;
}

.customSlider {
  width: 100%;
}

.slide {
  outline: none;
  padding: 0 10px;
  height: 500px;
}

.slideInner {
  position: relative;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.slideContent {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 15px;
}

/* Responsive adjustments for slider images */
@media (max-width: 768px) {
  .slide {
    height: 500px;
  }
}
