.videoContainer {
  width: 100%;
  text-align: center;
  padding: 2rem 1rem;
}

.videoTitle {
  font-family: "Montserrat", sans-serif;
  color: #333;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  text-align: center;
}

.videoWrapper {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 8px;
}

.video {
  border: none;
  border-radius: 8px;
} 